@font-face {
    font-family: electrolize;
    src: url("../cyperhack/fonts/Electrolize-Regular.ttf");
}

@font-face {
    font-family: iceland;
    src: url("../cyperhack/fonts/Iceland-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: electrolize, "Roboto Light", sans-serif;
}

/* UTILITY */
.flex-row {
    display: flex;
    flex-direction: row;
}

audio {
    display: none;
}

.slide-in {
    animation: slide_from_left 0.5s forwards;
}

@keyframes slide_from_left {
  from {
    transform: translateX(100%); /* Move the image outside the container to the left */
  }
  to {
    transform: translateX(0); /* Bring the image back to its original position */
  }
}


/* Background image and blur effect */
.blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    max-width: 100vw;
    background-image: url("../cyperhack/images/places/east_slum1.png");
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    filter: blur(8px);
    z-index: -1;
}

/* content */
.container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.top {
    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    background-image: url("../cyperhack/images/ui/city_street.png");
    background-size: cover;
    background-position: center center;
    justify-content: space-between;
}

.welcome {
    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    background-image: url("../cyperhack/images/ui/city_street.png");
    background-size: cover;
    background-position: center center;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
}

.welcome-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 60%);
    box-shadow: 0 0 9px 2px rgb(0 0 0);
    padding: 10px;
}

h1 {
    font-family: iceland, electrolize, "Roboto Light", sans-serif;
    font-size: 3rem;
}

.menu_button {
    padding: 10px 20px;
    margin: 10px;
    font-family: iceland, electrolize, "Roboto Light", sans-serif;
    font-size: 1rem;
    color: #ffffff; /* White text color */
    background-color: red; /* Turquoise background color */
    border: 2px solid darkred; /* Turquoise border */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

/* Hover effect for the menu buttons */
.menu_button:hover {
    background-color: #0083b0; /* Darker turquoise on hover */
    border-color: #0083b0;
}

.lore {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

.lore_text {
    background: none;
    width: 93%;
    height: 50vh;
    text-align: left;
    font-size: 1.4rem;
    color: white;
    align-self: center;
    resize: none;
    outline: none;
    border-radius: 7px;
    padding-inline: 10px;
    padding-bottom: 15px;
}

.directions {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

.how_to_play_text {
    background: none;
    width: 93%;
    height: 50vh;
    text-align: left;
    font-size: 1.4rem;
    color: white;
    align-self: center;
    resize: none;
    outline: none;
    border-radius: 7px;
    padding-inline: 10px;
    padding-bottom: 15px;
}

.class-selection {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.classes-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}

.classes-first-column,
.classes-second-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.empty-space {
    min-height: 5vh;
    min-width: 50vw;
}

.class-box {
    margin: 5px;
    flex: 1;
    width: 96%;
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../cyperhack/images/ui/city_street.png");
    background-size: cover;
    border-radius: 8px;
}

.class-button {
    width: 100%;
    height: 100%;
    border: none;
    transition: 1s;
    cursor: pointer;
}

#class-1 {
    background: url("../cyperhack/images/characters/assassin.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}

#class-2 {
    background: url("../cyperhack/images/characters/fighter.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}

#class-3 {
    background: url("../cyperhack/images/characters/hacker.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}

#class-4 {
    background: url("../cyperhack/images/characters/tank.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.stats {
    width: 100vw;
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: large;
    color: white;
    justify-content: space-evenly;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    background: rgba(0, 0, 0, 70%);
}

.stat {
}

.status {
    color: white;
    justify-content: space-around;
    padding: 0.4rem;
}

.progress-container {
    position: relative;
    display: inline-block;
}

.progress-label {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 48%;
    transform: translateY(-50%);
    z-index: 1;
}

progress {
    height: 20px; /* Adjust the height as needed */
    border: 1px solid black;
    border-radius: 20px;
    background-color: black;
}

/* Health bar color for mozilla and chrome */
progress::-moz-progress-bar {
    background-color: darkred !important;
    border-radius: 20px;
}

progress::-webkit-progress-bar {
    background-color: black;
    width: 100%;
    border-radius: 20px;
}

progress::-webkit-progress-value {
    background-color: darkred !important;
    border-radius: 20px;
}

.picture-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.player-window {
    width: 50%;
    height: 100%;
    background-image: url("../cyperhack/images/characters/hacker.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: filter 0.01s ease-in-out;
    filter: pixelate(100px);
}

.enemy-window {
    width: 50%;
    height: 100%;
    background-image: url("../cyperhack/images/characters/technic.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: filter 0.01s ease-in-out;
}

.bottom {
    width: 100vw;
    height: 60vh;
    max-height: 60vh;
    display: flex;
}

.places-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.places-first-column,
.places-second-column {
    flex: 1; /* Distribute available space equally between columns */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.place-box {
    margin: 5px;
    flex: 1;
    width: 96%;
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, darkred, darkviolet);
    border-radius: 8px;
}

.final-place-box {
    margin: 5px;
    flex: 1;
    width: 96%;
    height: 96%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, darkred, darkviolet);
    border-radius: 8px;
}

.place-button {
    width: 98%;
    height: 98%;
    border: none;
    transition: 1s;
    cursor: pointer;
    font-family: iceland, electrolize, "Roboto Light", sans-serif;
    font-size: 5vh;
    color: ghostwhite;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#place-1 {
    background: url("../cyperhack/images/places/east_slum1.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}

#place-2 {
    background: url("../cyperhack/images/places/east_slum2.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}

#place-3 {
    background: url("../cyperhack/images/places/lower_town1.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}

#place-4 {
    background: url("../cyperhack/images/places/lower_town2.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}

#place-5 {
    background: url("../cyperhack/images/places/mid_town1.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}

#place-6 {
    background: url("../cyperhack/images/places/mid_town2.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}

#place-7 {
    background: url("../cyperhack/images/places/mid_town2.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.dialogue-firendly {
    display: none;
    flex-direction: row;
    position: absolute;
    bottom: 15vh;
    height:60vh;
    width: 100vw;
    z-index: 998;
}

#chat-row {
    display: flex;
    flex-direction: row;
}

.chat-box {
    height: 30vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.chat-text {
    background: none;
    width: 93%;
    height: 100%;
    text-align: left;
    font-size: 1rem;
    color: white;
    align-self: center;
    resize: none;
    outline: none;
    border-radius: 7px;
    padding-inline: 10px;
    background: rgba(0, 0, 0, 90%);
}

.dialogue-pic-friendly {
    height: 30vh;
    width: 100vw;
    position: absolute;
    right: 0;
    top: 0;
    background: url("../cyperhack/images/ui/leader.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 999;
}

.battle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 60vh;
}

.battle-log {
    display: flex;
    width: 100vw;
    height: 15vh;
    justify-content: center;
    padding-top: 0.5vh;
}

.battle_text {
    background: none;
    width: 93%;
    height: 100%;
    text-align: left;
    font-size: 1rem;
    color: white;
    align-self: center;
    resize: none;
    outline: none;
    border-radius: 7px;
    padding-inline: 10px;
    background: rgba(0, 0, 0, 40%);
}

.dex-dmg {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 3vh;
    justify-content: space-around;
    padding-top: 0.5vh;
    font-size: 4vh;
    color: yellowgreen;
    align-items: center;
    font-family: iceland, electrolize, "Roboto Light", sans-serif;
}

.dice-window {
    display: flex;
    width: 100vw;
    height: 8vh;
    justify-content: center;
    align-items: center;
    padding-top: 0.5vh;
}

.dice-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid forestgreen;
    border-radius: 3px;
    width: 30%;
    height: 100%;
    font-size: 3rem;
    margin: auto; /* Center the dice-box horizontally */
    text-align: center;
    background: rgba(0, 20, 0, 40%);
}

.dice {
    margin: 0;
    font-size: 6vh;
    font-family: iceland, electrolize, "Roboto Light", sans-serif;
    color: yellowgreen;
}

.battle-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 32vh;
    padding-top: 0.5vh;
}

.battle-button {
    display: flex;
    font-size: 4vh;
    font-family: iceland, electrolize, "Roboto Light", sans-serif;
    color: white;
    background-color: red; /* Turquoise color */
    border: 2px solid darkred;
    border-radius: 5px;
    cursor: pointer;
    height: 7vh;
    width: 40vw;
    justify-content: center;
    align-items: center;
}

.hack {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
}

.hack-row-first, .hack-row-second {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

.hack-box {
    border: 3px solid ghostwhite;
    border-radius: 3px;
    width: 30%;
    height: 100%;
    background: rgba(0, 20, 0, 40%);
    text-align: center;
    font-family: iceland, electrolize, "Roboto Light", sans-serif;
}

.hack-buttons {
    display: flex;
    flex-direction: column;
    height: 25vh;
    justify-content: space-evenly;
}


